.title {
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 40px;
	line-height: 46px;
	text-transform: uppercase;
}

.heading {
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.bid {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid var(--gray-color);
		padding: 27px 77px;
		width: 100%;
		max-width: 365px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		text-transform: uppercase;
	}

	&__icon {
		width: 15px;
		height: 15px;
	}

	&__subinner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 365px;
	}

	&__heading {
		margin: 0;
		margin-bottom: 10px;
	}

	&__choice {
		font-size: 12px;
		line-height: 15px;
	}

	&__number {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid var(--dark-color);
			width: 100%;
			transition: all 0.4s;
		}

		&:hover {
			&::after {
				left: 50%;
				width: 0;
			}
		}
	}
}
