.title {
	@include adaptive-font(40, 22);
	margin: 0;
	font-family: Inter, sans-serif;
	font-weight: 500;
	line-height: 115%;
	text-transform: uppercase;

	@media screen and (min-width: 1024px) {
		font-size: 40px;
	}
}

.heading {
	@include adaptive-font(16, 12);
	margin: 0;
	font-family: Inter, sans-serif;
	font-weight: 500;
	text-transform: uppercase;

	@media screen and (min-width: 1024px) {
		font-size: 16px;
	}
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid var(--gray-color);
	padding: 27px 77px;
	width: 100%;
	max-width: 365px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;

	&__text {
		max-width: 175px;
	}

	&__icon {
		width: 15px;
		height: 15px;
	}

	@media screen and (max-width: 425px) {
		padding: 17px 47px;
		max-width: 305px;
	}
}

.bid {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	gap: 140px;

	&__link {
		@media screen and (max-width: 1130px) {
			padding: 20px 30px;
			max-width: 265px;
		}
	}

	&__subinner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 365px;
	}

	&__heading {
		margin-bottom: 10px;

		@media screen and (max-width: 1024px) {
			text-align: center;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 5px;
		}
	}

	&__choice {
		font-size: 12px;
		line-height: 15px;

		@media screen and (max-width: 1024px) {
			margin: 0 auto;
		}
	}

	&__number {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid var(--dark-color);
			width: 100%;
			transition: all 0.4s;
		}

		&:hover {
			&::after {
				left: 50%;
				width: 0;
			}
		}
	}

	@media screen and (max-width: 1130px) {
		gap: 10px;
		align-items: end;
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		align-items: center;
		margin-left: auto;
		max-width: 330px;
		gap: 15px;
	}
}

.list-socials {
	width: 100%;
	max-width: 365px;

	&__icon {
		width: 15px;
		height: 15px;
	}

	&__item {
		border-top: 1px solid var(--silver-color);
	}

	&__item:last-child {
		border-bottom: 1px solid var(--silver-color);
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 18px 40px;

		@media screen and (max-width: 425px) {
			padding: 13px 40px;
		}
	}

	&__text {
		@include adaptive-font(24, 16);
		font-weight: 400;

		@media screen and (min-width: 1120px) {
			font-size: 24px;
		}
	}
}

.dignity {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 365px;

	&__heading {
		margin: 0;
		margin-bottom: 30px;
		max-width: 365px;

		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	&__text {
		margin: 0;
	}
}
