.title {
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  text-transform: uppercase;
}

.heading {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}