// * Global styles (Шрифты, переменные, сбросы)
@import 'libs/normalize';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'settings';
@import 'interface';

// * Libs styles
// @import "libs/animate";

// * Подключение стилей swiper-слайдера
// @import "libs/swiper-bundle.min";
// @import "components/sliders";

// * Main styles
@import 'chunk/header';
@import 'chunk/hero';
@import 'chunk/utility';
@import 'chunk/interior';
@import 'chunk/benefit';
@import 'chunk/check';
@import 'chunk/about';
@import 'chunk/footer';
@import 'chunk/saving';
