.about {
	padding: 60px 0;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__title {
		margin: 0;
		margin-right: 18px;
		margin-bottom: 50px;
		margin-left: auto;
		max-width: 860px;
	}

	&__text {
		margin: 0;
		margin-bottom: 50px;
		max-width: 505px;

		&--closer {
			margin-bottom: 30px;
		}

		&--already {
			max-width: 365px;
		}
	}

	&__img {
		margin-bottom: 50px;
		width: 100%;
		height: auto;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 505px;
	}

	&__heading {
		margin: 0;
		margin-bottom: 30px;
		max-width: 365px;
	}
}
