.about {
	padding: 60px 0;

	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__title {
		margin: 0;
		margin-right: 18px;
		margin-bottom: 50px;
		margin-left: auto;
		max-width: 860px;

		@media screen and (max-width: 1290px) {
			max-width: 735px;
		}

		@media screen and (max-width: 1024px) {
			max-width: 605px;
		}

		@media screen and (max-width: 768px) {
			text-align: center;
		}

		@media screen and (max-width: 425px) {
			margin-bottom: 25px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 50px;
		max-width: 505px;

		&:nth-child(2) {
			margin-bottom: 30px;

			@media screen and (max-width: 768px) {
				margin-bottom: 15px;
			}
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 25px;
		}
	}

	&__img {
		margin-bottom: 50px;
		width: 100%;
		height: auto;

		@media screen and (max-width: 768px) {
			margin-bottom: 25px;
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 505px;
	}

	&__dignity {
		margin-bottom: 50px;

		@media screen and (max-width: 768px) {
			margin-bottom: 25px;
		}
	}

	&__link {
		@media screen and (max-width: 905px) {
			margin-bottom: 20px;
		}
	}

	&__messengers {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		max-width: 365px;

		@media screen and (max-width: 1024px) {
			max-width: 310px;
		}

		@media screen and (max-width: 905px) {
			position: inherit;
			max-width: 505px;
		}
	}

	&__relation {
		margin-bottom: 30px;
		max-width: 365px;

		@media screen and (max-width: 425px) {
			margin-bottom: 10px;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 30px 0;
	}
}
