.benefit {
	padding: 60px 0;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		@media screen and (max-width: 768px) {
			align-items: center;
		}
	}

	&__title {
		margin: 0;
		margin-right: 90px;
		margin-bottom: 70px;
		text-align: center;

		@media screen and (max-width: 768px) {
			margin-right: 0;
			margin-bottom: 50px;
		}

		@media screen and (max-width: 425px) {
			margin-bottom: 30px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;
		width: 100%;

		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__heading {
		margin: 0;
	}

	&__subinner {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
		max-width: 870px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -40px;
			border-top: 1px solid var(--silver-color);
			width: 100%;
		}

		&--first {
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: -20px;
				border-top: 1px solid var(--silver-color);
				width: 100%;
			}

			@media screen and (max-width: 768px) {
				&::before {
					top: -10px;
				}
			}
		}

		@media screen and (max-width: 1130px) {
			max-width: 640px;
		}

		@media screen and (max-width: 1024px) {
			max-width: 520px;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 10px;
			max-width: 360px;

			&::after {
				bottom: -20px;
			}
		}

		@media screen and (max-width: 560px) {
			max-width: 230px;
		}

		@media screen and (max-width: 425px) {
			max-width: 160px;
		}
	}

	&__text {
		margin: 0;
		max-width: 830px;
	}

	&__text-link {
		position: relative;
		margin-right: 16px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid var(--dark-color);
			width: 100%;
			transition: all 0.4s;
		}
	}

	&__link {
		@include adaptive-font(16, 12);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		cursor: pointer;

		&:hover .utility__text-link {
			&::after {
				left: 50%;
				width: 0;
			}
		}

		@media screen and (min-width: 1024px) {
			font-size: 16px;
		}
	}

	&__icon {
		width: 13px;
		height: 13px;
	}

	@media screen and (max-width: 768px) {
		padding: 30px 0;
	}
}
