.check {
	padding: 60px 0;

	&__container {
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 1024px) {
			justify-content: center;
		}
	}

	&__wrap {
		width: 100%;
		max-width: 875px;

		@media screen and (max-width: 1024px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 50px;
		max-width: 710px;

		@media screen and (max-width: 1024px) {
			text-align: center;
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 30px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 30px;
		max-width: 505px;

		&--further {
			margin-bottom: 50px;

			@media screen and (max-width: 768px) {
				margin-bottom: 30px;
			}
		}

		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	&__bid {
		justify-content: space-between;

		@media screen and (max-width: 1130px) {
			justify-content: flex-start;
		}

		@media screen and (max-width: 1024px) {
			flex-direction: row;
			justify-content: center;
			margin-left: 0;
			max-width: 100%;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 30px 0;
	}
}
