.footer {
	padding-top: 110px;
	padding-bottom: 40px;

	&__wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -50px;
			border-top: 1px solid var(--silver-color);
			width: 100%;
		}

		@media screen and (max-width: 768px) {
			&::before {
				top: -25px;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		max-width: 265px;

		@media screen and (max-width: 768px) {
			max-width: 180px;
		}

		@media screen and (max-width: 425px) {
			justify-content: flex-start;
		}
	}

	&__logo {
		margin-bottom: 35px;
		width: 100%;
		height: 55px;
		max-width: 260px;

		@media screen and (max-width: 500px) {
			margin-bottom: 15px;
			height: 40px;
		}
	}

	&__address {
		@include adaptive-font(14, 10);
		margin: 0;
		font-style: normal;
		line-height: 129%;

		@media screen and (min-width: 1024px) {
			font-size: 14px;
		}
	}

	&__policy {
		display: flex;
		align-items: flex-end;
		max-width: 155px;

		@media screen and (max-width: 500px) {
			display: none;
		}
	}

	&__link {
		position: relative;
		font-size: 10px;
		line-height: 200%;
		color: var(--gray-color);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			border-top: 1.5px solid var(--gray-color);
			width: 100%;
			transition: all 0.4s;
		}

		&:hover {
			&::after {
				left: 50%;
				width: 0;
			}
		}

		&--hidden {
			display: none;

			@media screen and (max-width: 500px) {
				display: flex;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		max-width: 145px;

		@media screen and (max-width: 1024px) {
			max-width: 135px;
		}

		@media screen and (max-width: 900px) {
			max-width: 125px;
		}

		@media screen and (max-width: 500px) {
			max-width: 110px;
		}
	}

	&__socials {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__messenger {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 12px;
		line-height: 9px;
		text-transform: uppercase;
		transition: transform 0.4s;

		&:hover {
			transform: scale(0.9);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text-location {
		position: relative;
		max-width: 125px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid var(--gray-color);
			width: 100%;
			transition: all 0.4s;
		}
	}

	&__location {
		@include adaptive-font(14, 10);
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-weight: 500;
		line-height: 143%;
		text-transform: uppercase;
		color: var(--gray-color);

		&:hover .footer__text-location {
			&::after {
				left: 50%;
				width: 0;
			}
		}

		@media screen and (min-width: 1024px) {
			font-size: 14px;
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
		fill: var(--gray-color);
	}

	@media screen and (max-width: 768px) {
		padding-top: 55px;
		padding-bottom: 20px;
	}
}
