.footer {
	padding-top: 110px;
	padding-bottom: 40px;

	&__wrap {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: -50px;
			border-top: 1px solid var(--silver-color);
			width: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		max-width: 265px;
	}

	&__logo {
		margin-bottom: 35px;
		width: 260px;
		height: 55px;
	}

	&__address {
		margin: 0;
		font-size: 14px;
		line-height: 129%;
	}

	&__policy {
		display: flex;
		align-items: flex-end;
		min-height: 140px;
	}

	&__link {
		position: relative;
		font-size: 10px;
		line-height: 200%;
		color: var(--gray-color);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			border-top: 1.5px solid var(--gray-color);
			width: 100%;
			transition: all 0.4s;
		}

		&:hover {
			&::after {
				left: 50%;
				width: 0;
			}
		}
	}

	&__messengers {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
		max-width: 145px;
	}

	&__messenger {
		margin-bottom: 15px;
		font-weight: 500;
		font-size: 12px;
		line-height: 9px;
		text-transform: uppercase;
		transition: transform 0.4s;

		&:hover {
			transform: scale(0.9);
		}

		&--last {
			margin-bottom: 40px;
		}
	}

	&__text-location {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			border-top: 1px solid var(--gray-color);
			width: 100%;
			transition: all 0.4s;
		}
	}

	&__location {
		display: flex;
		justify-content: space-between;
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		text-transform: uppercase;
		color: var(--gray-color);

		&:hover .footer__text-location {
			&::after {
				left: 50%;
				width: 0;
			}
		}
	}

	&__icon {
		width: 16px;
		height: 16px;
		fill: var(--gray-color);
	}
}
