.header {
	padding: 60px 0 30px;

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	&__logo-img {
		width: 300px;
		height: auto;
		color: var(--dark-color);

		@media screen and (max-width: 992px) {
			width: 270px;
		}

		@media screen and (max-width: 576px) {
			width: 250px;
		}

		@media screen and (max-width: 450px) {
			width: 160px;
		}

		@media screen and (max-width: 320px) {
			width: 160px;
		}
	}

	&__link {
		@include adaptive-font(24, 12);
		font-family: Inter, sans-serif;
		font-weight: 400;
	}
}
