.header {
	padding: 60px 0 30px;

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-img {
		width: 300px;
		height: auto;
		color: var(--dark-color);
	}

	&__link {
		font-family: Inter, sans-serif;
		font-weight: 400;
		font-size: 24px;
	}
}
