.header {
	padding: 60px 0 30px;

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
	}

	&__logo {
		width: 300px;
		height: 63px;

		@media screen and (max-width: 992px) {
			width: 270px;
		}

		@media screen and (max-width: 576px) {
			width: 250px;
		}

		@media screen and (max-width: 450px) {
			width: 160px;
		}
	}

	&__link {
		@include adaptive-font(24, 12);
		position: relative;
		font-family: Inter, sans-serif;
		font-weight: 400;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -50%;
			border-top: 2px solid var(--dark-color);
			width: 0;
			transition: all 0.4s;
		}

		&:hover {
			&::after {
				left: 0;
				width: 100%;
			}
		}
	}
}
