.hero {
	padding-top: 30px;
	padding-bottom: 60px;

	&__main-title {
		@include adaptive-font(56, 16);
		margin: 0;
		margin-bottom: 40px;
		font-family: Inter, sans-serif;
		font-weight: 500;
		line-height: 115%;
		text-align: right;
		text-transform: uppercase;

		@media screen and (max-width: 1400px) {
			text-align: center;
		}

		@media screen and (min-width: 1024px) {
			font-size: 56px;
		}
	}

	&__wrap {
		display: flex;
		gap: 15px;
		width: 100%;

		@media screen and (max-width: 992px) {
			justify-content: space-between;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		width: 365px;
		height: auto;

		@media screen and (max-width: 768px) {
			width: 450px;
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 10px;

		@media screen and (max-width: 992px) {
			flex-wrap: wrap;
			max-width: 365px;
		}

		@media screen and (max-width: 768px) {
			justify-content: center;
			max-width: 450px;
		}
	}

	&__img--margin {
		margin: 0;
		margin-bottom: 20px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		max-width: 365px;
		gap: 10px;
	}

	&__text {
		margin: 0;
		width: 250px;
		font-weight: 300;
		font-size: 16px;

		@media screen and (max-width: 768px) {
			margin: 0 auto;
		}
	}

	&__text--margin {
		margin-bottom: 15px;
		max-width: 220px;
	}

	&__card {
		max-width: 365px;

		@media screen and (max-width: 768px) {
			max-width: 450px;
		}
	}

	&__link {
		margin: 0 auto;
		cursor: pointer;

		@media screen and (max-width: 1130px) {
			padding: 20px 30px;
			max-width: 265px;
		}
	}

	&__icon {
		width: 15px;
		height: 15px;
	}
}
