.hero {
	margin-bottom: 60px;
	padding-top: 30px;

	&__main-title {
		margin: 0;
		margin-bottom: 40px;
		font-weight: 500;
		font-size: 57px;
		text-indent: 375px;
		text-transform: uppercase;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__wrap {
		display: flex;
		max-width: 745px;
	}

	&__img {
		margin-right: 15px;
		width: 365px;
		height: auto;
	}

	&__img--margin {
		margin: 0;
		margin-bottom: 20px;
	}

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__text {
		margin: 0;
		width: 250px;
		font-weight: 300;
		font-size: 16px;
	}

	&__text--margin {
		margin-bottom: 15px;
	}

	&__card {
		max-width: 365px;
	}

	&__link {
		cursor: pointer;
	}

	&__icon {
		width: 15px;
		height: 15px;
	}
}
