.interior {
	padding: 60px 0;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 50px;

		@media screen and (max-width: 768px) {
			gap: 25px;
		}

		@media screen and (max-width: 425px) {
			flex-direction: row;
		}
	}

	&__title {
		margin: 0;
		margin-bottom: 50px;
		text-indent: 375px;

		@media screen and (max-width: 1024px) {
			text-align: center;
			text-indent: 0;
		}

		@media screen and (max-width: 425px) {
			margin-bottom: 30px;
		}
	}

	&__inner {
		display: flex;
		justify-content: flex-end;
		padding-right: 125px;
		width: 100%;
		gap: 15px;

		&:last-child {
			justify-content: flex-start;
			margin-bottom: 0;
			padding-right: 0;
			padding-left: 120px;
		}

		@media screen and (max-width: 1024px) {
			padding-right: 65px;

			&:last-child {
				padding-left: 60px;
			}
		}

		@media screen and (max-width: 768px) {
			justify-content: center;
			margin-bottom: 25px;
			padding-right: 0;

			&:last-child {
				justify-content: center;
				padding-left: 0;
			}
		}

		@media screen and (max-width: 425px) {
			flex-direction: column;
			margin-bottom: 15px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		max-width: 240px;

		@media screen and (max-width: 1280px) {
			max-width: 175px;
		}

		@media screen and (max-width: 1024px) {
			max-width: 142px;
		}

		@media screen and (max-width: 425px) {
			max-width: 240px;
		}
	}

	&__text {
		margin: 0;
		margin-bottom: 15px;
		line-height: 125%;

		@media screen and (max-width: 425px) {
			@include adaptive-font(16, 12);
			margin-bottom: 5px;
			min-height: 60px;
		}
	}

	&__img {
		width: 100%;
		height: auto;
	}

	@media screen and (max-width: 992px) {
		padding: 30px 0;
	}

	@media screen and (max-width: 768px) {
		padding: 30px 0;
	}
}
