.saving {
	&__title {
		margin-bottom: 50px;
		max-width: 870px;

		@media screen and (max-width: 992px) {
			max-width: 100%;
			text-align: center;
		}

		@media screen and (max-width: 425px) {
			margin-bottom: 25px;
		}
	}

	&__wrap {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;

		@media screen and (max-width: 992px) {
			flex-direction: column;
			align-items: center;
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		width: 615px;
		height: auto;

		@media screen and (max-width: 1130px) {
			width: 550px;
		}

		@media screen and (max-width: 992px) {
			width: 600px;
		}

		@media screen and (max-width: 768px) {
			width: 500px;
		}
	}

	&__inner {
		max-width: 365px;
	}

	&__heading {
		margin-bottom: 30px;
	}

	&__text {
		margin: 0;
	}

	@media screen and (max-width: 992px) {
		padding: 30px 0;
	}
}
